#mainborder {
  position: fixed; 
  bottom: 20px;
  right: 20px; 
  width: 200px;
  background: #fbf9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  padding: 10px;
  z-index: 1000;
  text-align: center;
}

#output {
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 18px;
  padding: 5px;
  border-radius: 1em;
}

button{
  width: 40px;
  height: 40px;
  margin: 1%;
  border-radius: 1em;
}

#equalto{
  background-color: orangered;
  width: 70px;
}

#delete{
  background-color: orange;
}