body{
    text-align: center;
    overflow-y: auto;
}
#container{
    position: fixed;
    bottom: 0;
    width: 99%;
}
#insert{
    display: inline-block;
    width: 40%;
    height: 40px;
    padding: 0 2%;
    border-radius: 1em;
    margin: 1% 2%;
}
#sendBtn{
    width: 7%;
    padding: 0.5% 1%;
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 1em;
    margin: 1% 2%;
}
.icon-container{
    width: 10%;
    display: inline-block;
}
#text{
    text-align: left;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.395);
    padding: 2%;
    border-radius: 1em;
}
#output{
    position: relative;
    right: 0;
    width: 50%;
    margin: 0 40%;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.395);
    padding: 2%;
    border-radius: 1em;
    overflow-y: auto;
}
@media (max-width: 640px) and (orientation: portrait){
    #text{
        width: 97%;
    }
    #output{
        width: 97%;
        margin-bottom: 40%;
    }
    #insert{
        width: 75%;
        height: 60px;
        margin: 0 auto;
    }
    #sendBtn{
        width: 1px;
        min-width: 1px;
        padding: 0;
        margin: 0;
    }
    .icon-container{
        width: 1px;
        min-width: 1px;
    }
}