body{
    text-align: center;
}
#container{
    position: fixed;
    bottom: 0;
    width: 99%;
}
#insert{
    display: inline-block;
    width: 40%;
}
#sendBtn{
    width: 10%;
    display: inline-block;
}
