body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(244, 255, 255);
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
#section1{
    position: fixed;
    width: 19%;
    padding-bottom: 20%;
    display: inline-block;
    background-color: white;
}
.section2{
    margin-left: 20%;
    width: 77%;
    display: inline-block;
    margin-top: 2%;
    padding-left: 2%;
}
#heading{
    font-size: 130%;
    font-weight: 700;
}
.nav-bar{
    color: rgb(110, 110, 110);
    padding: 5%;
    width: 70%;
    font-size: 120%;
    font-weight: 500;
    margin: 2% 0%;
    border-radius: 1em;
}
.nav-bar:hover{
    background-color: rgb(237, 247, 255);
    color: dodgerblue;
}
#header{
    font-size: 150%;
    font-weight: 700;
}
#header2{
    position: fixed;
    width: 70%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.739);
    backdrop-filter: blur(10px);
    padding: 0.3% 4%;
}
#searchbar{
    background-color: rgb(240, 240, 240);
    width: 80%;
    border-radius: 1em;
    font-size: 100%;
    padding: 1%;
    border: solid 1px white;
}
#searchbar:hover{
    border: solid 1px blue;
}
#heading2{
    font-size: 200%;
    font-weight: 700;
}
.border, .border2{
    width: 17%;
    display: inline-block;
    padding: 1% 2%;
    border-radius: 1em;
    margin: 1%;
}
.border2{
    background-color: white;
    margin-top: 2%;
}
.big{
    font-size: 150%;
}
span{
    color: rgb(2, 197, 2);
}
.border:hover{
    box-shadow: 0 0 20px rgb(180, 180, 180);
    transform: translateY(-5%);
    transition: 1s;
}
.bold-text{
    font-weight: 700;
}
.blue{
    background: linear-gradient(to right, dodgerblue,rgb(83, 169, 255));
    color: white;
}
.orange{
    background: linear-gradient(to right, orange, orangered);
    color: white;
}
.green{
    background: linear-gradient(to right, rgb(91, 135, 91), rgb(37, 101, 37));
    color: white;
}
.grey{
    background-color: rgb(234, 233, 233);
    color: white;
}
img{
    width: 100%;
    border-radius: 1em;
}
.learning-border{
    margin: 1%;
    width: 30%;
    border: solid 1px rgb(229, 229, 229);
    border-radius: 1em;
    display: inline-block;
    overflow: hidden;
}
.learning-border:hover .bold-text{
    color: dodgerblue;
}
.learning-border:hover img{
    transform: scale(1.1);
    transition: 1s;
}
.learning-border:hover p{
    transform: scale(1.03);
    transition: 1s;
}
#Learning-bar{
    height: 600px;
    text-align: left;
    padding-left: 2%;
    
}
.learning-button{
    width: 80%;
    border-radius: 1em;
    color: white;
    background-color: orange;
    padding: 4% 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}
.goals{
    width: 80%;
    background-color: rgb(184, 255, 184);
    border-radius: 1em;
    padding: 3% 3%;
    margin: 8% 0;
}
.pb-container{
    background-color: rgb(161, 255, 255);
    width: 90%;
    margin: 3% 5%;
    border-radius: 1em;
}
.progress-bar{
    background-color: green;
    border-radius: 1em;
    height: 10px;
}
.progress{
    width: 50%;

}
.Lessons{
    width: 70%;
}
.Study{
    width: 40%;
}
.Review{
    width: 60%;
}
.Test{
    width: 30%;
}
.math{
    background-color: dodgerblue;
    width: 60%;
}
.physics{
    background-color: dodgerblue;
    width: 80%;
}
.chemistry{
    background-color: dodgerblue;
    width: 40%;
}
.biology{
    background-color: dodgerblue;
    width: 20%;
}
.learning-border p{
    padding-left: 3%;
}
.text{
    display: inline-block;
    border-radius: 1em;
    background-color: white;
    padding: 1%;
    margin-left: 6%;
}
.Recommendations{
    background-color: rgb(240, 239, 239);
    padding: 2%;
    margin: 5%;
    border-radius: 1em;
}
.practice{
    color: orange;
    background-color: rgb(255, 236, 200);
}
.tutorial{
    color: dodgerblue;
    background-color: rgb(206, 231, 255);
}
.guide{
    color: white;
    background-color: green;
}
.icon{
    width: 24px;
    height: 24px;
}
@media (max-width: 640px) and (orientation: portrait){
    .border{
        width: 90%;
    }
    .border2{
        width: 80%;
    }
    .learning-border{
        width: 90%;
    }
    .nav-bar{
        font-size: 180%;
        text-align: center;
    }
    #header{
        font-size: 110%;
    }
    .section2{
        margin-top: 6%;
    }
    #searchbar{
        height: 40px;
        width: 100%;
    }
    #section2{
        width: 77%;
    }
    #footer{
        width: 70%;
        position: absolute;
        right: 0;
        margin-right: 3%;
    }
}