html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.video-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: blur(50px);
}
.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label{
    display: block;
}
#mainborder{
    text-align: center;
}
#content{
    width: 40%;
    display: inline-block;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.273);
    border-radius: 1em;
}
input{
    width: 70%;
    border-radius: 1em;
    padding: 2% 2%;
    background-color: rgb(236, 236, 236);
}
input:hover{
    border: solid 2px dodgerblue;
}
.retrieve{
    display: inline-block;
}

.check{
    width: 7%;
}
.password{
    margin-left: 6%;
}
button{
    display: inline;
    text-align: center;
    padding: 2% 0;
    border-radius: 1em;
    background: linear-gradient(to right, rgb(183, 1, 183), dodgerblue);
    width: 70%;
}
button:hover{
    transform: scale(1.01);
    transition: 1s;
}
.su-container{
    padding: 2% 0;
    border-radius: 1em;
    width: 80%;
    background-color: white;
    text-align: center;
    display: inline-block;
}
.su-container:hover{
    background-color: rgb(176, 176, 176);
}
#Error1, #Error2{
    color: red;
}
footer{
    text-align: center;
}
span{
    background: linear-gradient(to right, rgb(193, 0, 193), rgb(0, 69, 137));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 640px) and (orientation: portrait){
    #content{
        width: 90%;
        margin-top: 30%;
    }
}