body{
    text-align: center;
}
.bottom{
    display: inline-block;
    border-radius: 1em;
    padding: 1%;
    background-color: dodgerblue;
    margin: 1% 2%;
}
#bottom-sect{
    position: fixed;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.938);
    width: 99%;
}
@media (max-width: 640px) and (orientation: portrait){
    #bottom-sect{
        padding: 2% 0;
    }
    .bottom{
        font-size: 130%;
        padding: 3%;
    }
}