body{
    text-align: center;
    scroll-behavior: smooth;
}
.bottom{
    display: inline-block;
    border-radius: 1em;
    padding: 1%;
    background-color: dodgerblue;
    margin: 1% 2%;
}
#loading{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.845);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    font-weight: 900;
    border-radius: 1em;
    width: 40%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    height: 40%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    opacity: 0;
}
#bottom-sect{
    position: fixed;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.938);
    width: 99%;
}
footer{
    margin-top: 10%;
}
@media (max-width: 640px) and (orientation: portrait){
    #bottom-sect{
        padding: 2% 0;
    }
    .bottom{
        font-size: 130%;
        padding: 3%;
    }
    #loading{
        width: 80%;
    }
}