#sub-container{
    background-color: white;
    width: 99%;
    padding-left: 3%;
    padding: 3%;
    margin-top: 4%;
    border-radius: 1em;
}
#section2{
    width: 90%;
}
h2{
    margin-top: 40px;
    text-align: center;
}
#output{
    width: 90%;
    border-radius: 1em;
    background: rgb(232, 240, 240);
    padding: 3%;
    margin-bottom: 300px;
}
.container1{
    display: inline-block;
    margin: 1%;
    background-color: rgb(235, 233, 233);
    border-radius: 1em;
    padding: 2% 3%;
    width: 95%;
}
.container1:hover{
    background-color: orange;
}
#insert{
    position: fixed;
    bottom: 200px;
    margin-top: 10%;
    width: 80%;
    height: 50px;
    border-radius: 1em;
    box-shadow: 0 0 20px rgb(220, 255, 254);
    padding: 1% 3%;
    border: solid 1px white;
    background-color: rgb(233, 231, 231);
}
#sendBtn{
    position: fixed;
    bottom: 100px;
    display: inline-block;
    text-align: center;
    padding: 1% 0;
    width: 10%;
    margin: 3% auto;
    background-color: rgb(69, 163, 239);
    border-radius: 1em;
}
#sendBtn:hover{
    transform: scale(1.04);
    transition: 1s;
}
footer{
    text-align: center;
}