body {
      font-family: Arial, sans-serif;
      background: url(file_00000000103471f4b74df47335c6214b.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      padding: 30px;
    }

    h1 {
      color: #2c3e50;
    }

    input {
      margin: 20px 0;
      background-color: rgba(255, 255, 255, 0);
    }

    #output {
      background: rgba(255, 255, 255, 0.722);
      padding: 20px;
      border-radius: 8px;
      max-height: 400px;
      overflow-y: auto;
      white-space: pre-wrap;
    }
    button {
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

#questions {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}