body{
      font-family: Arial, sans-serif;
      padding: 30px;
}
#body{
      color: black;
}
h1 {
      color: #2c3e50;
}
input {
      margin: 20px 0;
}
#floating-menu-btn{
      text-align: center;
      padding-right: 3%;
}
.inputMethod{
      margin: 0;
      width: 20%;
      height: 30px;
      border-radius: 1em;
      padding: 0.5% 1%;
}
#output {
      background: rgba(255, 255, 255, 0.722);
      padding: 20px;
      border-radius: 8px;
      max-height: 400px;
      overflow-y: auto;
      color: black;
    }
#generate{
      background-color: dodgerblue;
      padding: 1% 2%;
      width: 13%;
      border-radius: 1em;
    }
    #generate:hover{
      box-shadow: 0 0 20px dodgerblue;
    }
    button {
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

#questions {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  color: black;
}

#mainBorder{
  text-align: center;
}
.border{
  border: solid 1px black;
  display: inline-block;
  text-align: center;
  border-radius: 1em;
  width: 25%;
  margin: 0% 2%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.809);
}
.border:hover{
  box-shadow: 0 0 20px rgb(101, 100, 100);
}
img{
  width: 40%;
  border-radius: 1em;
  max-width: 100%;
  max-height: 100%;
}