body, section{
    align-items: center;
}
#alert{
    margin-left: 35%;
    margin-top: 20%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.633);
    padding: 5% 10%;
    border-radius: 1em;
}