#section2{
    margin-top: 3%;
    padding: 3%;
}
#saveBtn, #save{
    padding: 2% 3%;
    background-color: dodgerblue;
    border-radius: 1em;
    display: block;
}
#saveBtn:hover, #save{
    box-shadow: 0 0 20px dodgerblue;
}
#darkMode, #lightMode, #off, #on{
    cursor: pointer;
    color: dodgerblue;
    margin-top: 20px;
    display: inline-block;
    border: solid 1px dodgerblue;
    padding: 3%;
    border-radius: 1em;
}
#lightMode, #on{
    margin-left: 30%;
}
#darkMode:hover, #lightMode:hover, #off:hover, #on:hover{
    box-shadow: 0px 0px 20px dodgerblue;
}
.username, #username{
    display: inline-block;
}
.inputsection, .inputsection2{
    margin-left: 50%;
    border-color: dodgerblue;
    border-radius: 1em;
    height: 25px;
    padding: 2%;
    margin-top: 5%;
}
.inputsection2{
    margin-top: 0%;
}
.profile{
    border: solid 1px black;
    border-radius: 1em;
    display: inline-block;
    width: 50%;
    padding: 2%;
    margin-top: 3%;
}
.profile:hover{
    box-shadow: 0px 0px 20px black;
    border: solid 0px;
}

@media (max-width: 640px) and (orientation: portrait){
    .profile{
        width: 90%;
    }
    .inputsection, .inputsection2{
        margin-left: 0%;
    }
    #lightMode{
        margin: 0% 0%;
    }
    #saveBtn, #save{
        margin-top: 2%;
    }
}